* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: system-ui;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  background-color: #222;
}

#app {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

header {
  width: 47rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

header h1 {
  color: #fff;
}

main {
  width: 47rem;
  height: auto;
}

main ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
  gap: 1rem;
}
main li {
  max-width: 15rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color:#f0f8ff;
  border-radius: 1rem;

  overflow: hidden;
}
main li img {
  width: 15rem;
  
  box-shadow: 0px 10px 10px 100px #e8f3fa;
}
.productData {
  width: 100%;
  padding: .5rem;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.productData h3 {
  color: #000;
}
.productData_bottom-c {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: end;
}
.productData_bottom-c .price {
  font-size: 16px;
  font-weight: 500;
  color: rgb(14, 121, 14);
}
.productData_bottom-c button {
  width: 5rem;
  height: 3rem;

  background-color: #3e8bbe;
  border: none;
  border-radius: .5rem;
}

/* Filters */
.filters-c {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filters-c_price-c {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: #fff;
  font-size: 14px;
}